name: Rust

on:
  push:
    branches: [ "main", "ci/testing" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
          submodules: 'true'
    - name: Instal libudev
      run: sudo apt-get -yyq install libudev-dev
    - name: Build
      run: cargo build --verbose
    # - name: Run tests
    #   run: cargo test --verbose
